# DataScienceEcosystem.ipynb #

# Data Science Tools and Ecosystem #

this the intro of the data science tools and  eccosystem, how the tools are used in data science to analysis the  big data

# In this notebook, Data Science Tools and Ecosystem are summarized. #

# list data science languages #

Some of the popular languages that Data Scientists use are:

1. Python:
2. R:
3. SQL:
4. Julia:

#  list data science libraries #

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit
4. Matplotlib
5. TensorFlow

#  a table of Data Science tools #

Data Science Tools
 - Apache Spark
 - IBM SPSS
 - Julia
 - Jupyter Notebook

Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
2+34

36

# multiply and add numbers #

In [1]:
#Insert a comment line before the expression to explain the operation e.g .  
(3*4)+5

17

# convert minutes to hours #

In [1]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes 200

Hours= 3
Minutes= 20

# list Objectives #

# Objectives: #
- Apache Spark
- IBM SPSS
-  Julia
- Jupyter Notebook

 # indicate the Author's name #

## Author(s) ##
1. NITISH  YADAV 
2. RAJESHWARE MATHIYA
3. VEDANTI MASALE